body{
    background: lightgrey; 
}

.container {
    /* very important css  */
    width: 95%; 
    max-width: 1000px; 
    margin: 0 auto; 
    font-family: 'Playfair Display', serif;
       

   
}

header{
    background: 
#B0E0E6;
    padding: 1em 0; 
    position: relative;
}

header::after{
    content:''; 
    clear:both; 
    display: block; 
    
}

.logo{
    float: left; 
    font-size: 1rem;
    margin: 0; 
    text-transform: uppercas;
    font-weight: 700;
}
.logo span{
    font-weight: 300;
}


@meida (min-width:800px){
    .site-nav li{}
    
}


@media (max-width: 800px){
    
    .site-nav{
    position:absolute;
    top:100%;
    right:0%;
    background: #A9A9A9;
  

}
.site-nav li{
    border-bottom: 1px solid #575766;
}
.site-nav ul {
    
    margin:0; 
    padding: 0; 
    list-style: none; 
}
.site-nav  a{
    text-decoration: none;
    color: #EBEBD3;
    display:block;
    text-transform: uppercase;
    padding: 2em 6em;
    
    
    
}

.site-nav a:hover,
.site-nav a:focus{
    background: #e4b363;
    
}
.site-nav li:last-child{
    border-bottom:none;
}
}

